body{
    color:rgb(3, 78, 78);
    background:rgb(10, 122, 167);
    margin:0px;
}

header{
    border-bottom: solid 2px white;
    padding: 20px;
    font-size: 32px;
    color:rgb(35, 69, 75)
}

section{
    background:rgb(5, 193, 250);
    padding-top:80px;
    padding-bottom:80px;
    display: flex;
    justify-content: center;
}
.chamada-texto{
    margin-right:5%;
}
